.planner-btn{
    margin-left: 0.5%;
    margin-top: 1%;
    margin-right: 5%;
    width: auto;
    padding-left: 2%;
    padding-right: 2%;
    height: 35px;
    background-color: rgb(0, 85, 121);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    font-family: Helvetica;
    
}
.planner-btn:hover{
    background-color: rgb(50, 135, 172);
    color: rgb(255, 255, 255);
    
}

.planner-btn:active{
    background-color: rgb(0, 51, 73);
    color: rgb(255, 255, 255);
    transform: translateY(4px);
    
}

#reset{
    background-color: rgb(137, 0, 0);
}
#reset:hover{
    background-color: rgb(163, 51, 51);
    color: rgb(255, 255, 255);
    
}

#reset:active{
    background-color: rgb(97, 2, 2);
    color: rgb(255, 255, 255);
    transform: translateY(4px);
    
}

#submit{
    margin-left: 0.5%;
    margin-bottom: 5%;
}

.form-row{
    margin-top: 0.5%;
    margin-left: 0%;
    margin-right: 2%;
    
}

.form-dropdown{
    margin-right: 0%;
    margin-top: 1%;
    width: 100%;
}

.Select.form-dropdown{
    width:100%;
}

.form-dropdown .Select-menu-outer{
    width:100%;
}

.form-input{
    width: 40%;
    margin-left: 1%;
    margin-right: 2%;
}

.form-delete{
    margin-left: 0.5%;
    margin-top: 0%;
    width: auto;
    padding-left: 1%;
    padding-right: 1%;
    height: 35px;
    background-color: rgb(189, 41, 22);
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Helvetica;
}

.dash-dropdown{
    width: 40% !important;
    padding-left: 0% !important;
    margin-left: -1.4% !important;;
}

#planner-form-col{
    margin-top: 1%;
    margin-left: 1%;
}

#date-label{
    width: 39.6%;
    padding-top: 1%;
}

#plan-date-picker{
    width: auto;
    margin-bottom: 1%;
}

.weight-row{
    margin-bottom: 2%;
}

#weight-label{
    width: 41%;
}

#weight-input{
    width: 40%;
}

#add-item{
    margin-left: 40%;
    width: auto;
}

#height-label{
    width: 41%;
}

#height-input{
    width: 40%;
}

.height-row{
    margin-bottom: 2%;
}

#age-label{
    width: 41%;
}

#age-input{
    width: 40%;
}

.age-row{
    margin-bottom: 2%;
}

#gender-label{
    width: 41%;
}

#gender-input{
    width: 40%;
}

.gender-row{
    margin-bottom: 2%;
}

#requirements-heading{
    font-weight: bold;
}

#plan-heading{
    font-weight: bold;
    margin-top: 5%;
}

#planner-output-col-row-4{
    margin-right: 5%;
}

#planner-output-col-row-3{
    margin-top: 2%;
}

#deficit-heading{
    font-weight: bold;
    width: auto;
    color: rgb(0, 61, 153);
}

#deficit-value{
    font-weight: bold;
    width: auto;
    margin-top: 0.3%;
    color: rgb(0, 61, 153);
}

#surplus-heading{
    font-weight: bold;
    width: auto;
    color: rgb(137, 0, 0);
}

#surplus-value{
    font-weight: bold;
    width: auto;
    margin-top: 0.3%;
    color: rgb(137, 0, 0);
}

#balance-heading{
    font-weight: bold;
    width: auto;
    color: rgb(0, 153, 33);
}

#balance-value{
    font-weight: bold;
    width: auto;
    margin-top: 0.3%;
    color: rgb(0, 153, 33);
}

#planner-output-col-row-4{
    margin-top: 2%;
}

#user-label{
    width: 42.2%;
    padding-top: 1.5%;
}

#user-row-1{
    margin-bottom: 1%;
}

#user-dropdown{
    width: 41.5% !important;
}